<div class='container-fluid px-0'>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info">
    <div class='container'>
      <%= link_to 'NFStrong', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style='color:white;'>
        <ul class="navbar-nav float-right" style="margin-top: .10rem;">
          <li class="nav-item">
            <%= link_to "Events", events_path, class: 'nav-link w' %>
          </li>
          <li class="nav-item">
            <%= link_to "Runners", runners_path, class: 'nav-link w' %>
          </li>
          <li class="nav-item">
            <%= link_to "NF", nf_path, class: 'nav-link w' %>
          </li>
          <li class="nav-item">
            <%= link_to "Privacy", privacy_path, class: 'nav-link w' %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: 'nav-link w' %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" style="margin-top: .10rem;">
          <li class="nav-item">
            <%= link_to(events_path, class: 'nav-link', style:'color:white;') do %></i><%= fa_icon "sign-in", text: "Get started", right: true %><% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
