<%= render 'shared/admin_title', title: "#{event_name(@event)}" %>
<div class='row mx-4 my-2'>
  <%= link_to(edit_admin_event_registration_path(@event, @registration), class: 'btn btn-sm btn-primary mx-2') do fa_icon 'pencil', text: 'Edit' end %>
  <%= link_to(admin_event_registration_path(@event, @registration), method: :destroy, data: { confirm: "Are you sure, this action cannot be undone" }, class: 'btn btn-sm btn-danger mx-2') do fa_icon 'trash', text: 'Delete' end %>
</div>
<div class='row mx-4'>
  <div class='col-12 my-3'>
    <div class='card'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-10'>
            <h3>User: <%= @registration.user.name.titleize %></h3>
          </div>
          <div class='col-2'>
            <% if @registration.paid %>
            <h4><span class="badge badge-success float-right"><%= fa_icon 'check-circle', text: 'Paid' %></span></h4>
            <% else %>
            <h4><span class="badge badge-danger float-right"><%= fa_icon 'times-circle', text: 'Unpaid' %></span></h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row mx-4'>
  <div class='col-lg-6 my-3'>
    <div class='card'>
      <div class='card-header text-center'>
        <h4>Guests</h4>
      </div>
      <div class='card-body'>
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Fee</th>
              <th>Shirt Size</th>
              <th>Paid</th>
            </tr>
          </thead>
          <tbody id='guests'>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='col-lg-6 my-3'>
    <div class='card'>
      <div class='card-header text-center'>
        <h4>Donations</h4>
      </div>
      <div class='card-body'>
        <table class='table'>
          <thead>
            <tr>
              <th>Payee</th>
              <th>Amount</th>
              <th>Category</th>
              <th>Paid</th>
              <th>Collected</th>
            </tr>
          </thead>
          <tbody id='donations'>
            <% @registration.donations.each do |donation| %>
              <%= render 'donation', donation: donation %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>